{
  "latitude": 00.000000,
  "longitude": -00.000000,
  "poll-interval": 60,
  "influxdb-url": "http://influxdb",
  "influxdb-port":  8086,
  "influxdb-measurement": "daylight",
  "influxdb-database":  "database",
  "influxdb-retention-policy":  "autogen",
  "influxdb-skip-verify-ssl": false
}
